.container-content {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px;

    .container-content__mainbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        background: rgb(49, 49, 49);
        width: 100%;
        padding: 20px;

        .container-content__mainbox__box {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            overflow: scroll;
            padding: 20px !important;
            max-height: 100%;
            gap: 20px;
            background: rgb(120, 120, 120);
        }

        .container-content__mainbox__box__CardMedia {
            display: flex;
            flex-direction: column;
            width: 80% !important;
            min-height: 100%;
            max-height: 100%;


            .container-content__mainbox__box__CardMedia_image {
                object-fit: contain;
            }
        }
    }
}